.pictures{
  display: grid;
  grid-template-columns: repeat(2,500px);
  justify-content: center;
}

img{
  height: 40vh;
  width: 40vw;
}

h3{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  text-align: center;
}